@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<form>  
    <div>

        <video class="w-100" style="max-width: 800px;" controls="controls">
            <source src="https://localhost:9081/api/VideoStream/0" type="video/mp4">
        </video>
    </div>
    <div class="row">    
        <label id="message" class="infoMessage"> </label>  
    </div>  
    <div class="row">    
        <label id="error" class="errorMessage"> </label>  
    </div>  
    <div class="row">    
        <button type="button" onclick="get();">Get Video Stream</button>      
    </div>
</form>


<script>          
    'use strict';
    const URL = "https://localhost:9081/api/VideoStream/1";
    
    function get() {     
        let req = new XMLHttpRequest();    
    
        displayMessage("Sending request...");
        console.log("Sending request...");   
        req.open("GET", URL);    
        req.send(); 
        displayMessage("Sending request...Sent out.");
        console.log("Sending request...Sent out.");   

        req.onreadystatechange = function () {      
            if (this.readyState===XMLHttpRequest.DONE && this.status === 200) {        
                //console.log(this.response);        
                displayMessage("Response Retrieved: " + this.responseType);  
                displayResponse(this);
            }
            else{
                displayResponse(this);
            }
        }; 
        
    }//End Get



    function displayMessage(msg) {
        document.getElementById("message").innerHTML = msg;
    }
    function displayError(error) {
        document.getElementById("error").innerHTML = JSON.stringify(error);
    }
    function displayResponse(resp) {  
        //console.log(resp);  
        console.log("readyState: "+ resp.readyState);  
        //console.log("responseText: " + resp.responseText);  
        console.log("status: " + resp.status.toString());  
        console.log("statusTest: " + resp.statusText);
    }

    function getValue(id) {  return document.getElementById(id).value;}
    function setValue(id, value) {  document.getElementById(id).value = value;}


</script>